In [9]:
import pandas as pd
import numpy as np

from datetime import datetime, timedelta

In [2]:
date=pd.read_excel("DimDates.xlsx")

In [3]:
date.head()

,DateNum,Date,YearMonthNum,Calendar_Quarter,MonthNum,MonthName,MonthShortName,WeekNum,DayNumOfYear,DayNumOfMonth,DayNumOfWeek,DayName,DayShortName,Quarter,YearQuarterNum,DayNumOfQuarter
0,19910101,1991-01-01,199101,Qtr 1,1,January,Jan,1,1,1,3,Tuesday,Tue,1,19911,1
1,19910102,1991-01-02,199101,Qtr 1,1,January,Jan,1,2,2,4,Wednesday,Wed,1,19911,2
2,19910103,1991-01-03,199101,Qtr 1,1,January,Jan,1,3,3,5,Thursday,Thu,1,19911,3
3,19910104,1991-01-04,199101,Qtr 1,1,January,Jan,1,4,4,6,Friday,Fri,1,19911,4
4,19910105,1991-01-05,199101,Qtr 1,1,January,Jan,1,5,5,7,Saturday,Sat,1,19911,5

In [4]:
date=date[(date["DateNum"]>=20200901)&(date["DateNum"]<=20201231)]

In [5]:
onset_date_dimension=pd.DataFrame(columns=['date_id','date','day','month','day_of_week','week_in_year','weekend','holiday','season'])

In [6]:
for idx, row in date.iterrows():
    date_row=[idx]
    date_row.append(row['Date'])
    date_row.append(row['DayNumOfMonth'])
    date_row.append(row['MonthNum'])
    date_row.append(row['DayNumOfWeek'])
    date_row.append(row['WeekNum'])
    if (row['DayShortName']=='Sat')|(row['DayShortName']=='Sun'):
        date_row+=['Yes']
    else: date_row+=['No']
    date_row+=['No']
    date_row+=['winter']
    onset_date_dimension.loc[len(onset_date_dimension)] = date_row

In [7]:
onset_date_dimension.head()

,date_id,date,day,month,day_of_week,week_in_year,weekend,holiday,season
0,10836,2020-09-01,1,9,3,36,No,No,winter
1,10837,2020-09-02,2,9,4,36,No,No,winter
2,10838,2020-09-03,3,9,5,36,No,No,winter
3,10839,2020-09-04,4,9,6,36,No,No,winter
4,10840,2020-09-05,5,9,7,36,Yes,No,winter

In [8]:
for index in onset_date_dimension.index:
    if onset_date_dimension.loc[index,'date_id']==10842:
        onset_date_dimension.loc[index,'holiday'] = 'Yes'
    elif onset_date_dimension.loc[index,'date_id']==10877:
        onset_date_dimension.loc[index,'holiday'] = 'Yes'
    elif onset_date_dimension.loc[index,'date_id']==10896:
        onset_date_dimension.loc[index,'holiday'] = 'Yes'
    elif onset_date_dimension.loc[index,'date_id']==10907:
        onset_date_dimension.loc[index,'holiday'] = 'Yes'
    elif onset_date_dimension.loc[index,'date_id']==10951:
        onset_date_dimension.loc[index,'holiday'] = 'Yes'
    elif onset_date_dimension.loc[index,'date_id']==10952:
        onset_date_dimension.loc[index,'holiday'] = 'Yes'

In [10]:
onset_date_dimension.insert(0, "surrogate_key",  np.arange(len(onset_date_dimension)))

In [12]:
onset_date_dimension["date"] = pd.to_datetime(onset_date_dimension["date"] ).dt.strftime('%Y-%m-%d')

In [13]:
onset_date_dimension.to_csv("date_dimension.csv",index=False)