In [1]:
import pandas as pd
import numpy as np

from datetime import datetime, timedelta

In [2]:
phu = pd.read_csv("patients.csv")

In [3]:
s_date = datetime.strptime('20200901', '%Y%m%d')
e_date = datetime.strptime('20201231', '%Y%m%d')
phu = phu[(pd.to_datetime(phu['Case_Reported_Date']) >= s_date) & (pd.to_datetime(phu['Case_Reported_Date']) <= e_date)]

In [4]:
phu_filter = phu[phu['Reporting_PHU'].str.contains("Peel") | phu['Reporting_PHU'].str.contains("York") | phu['Reporting_PHU'].str.contains("Durham") | phu['Reporting_PHU'].str.contains("Halton") | phu['Reporting_PHU_City'].str.contains("Toronto") | phu['Reporting_PHU_City'].str.contains("Ottawa")]

In [6]:
patient_dimension = phu_filter.filter(items=['Row_ID', 'Age_Group', 'Client_Gender', 'Case_AcquisitionInfo', 'Outbreak_Related'])

In [8]:
patient_dimension.insert(0, "surrogate_key",  np.arange(len(patient_dimension)))

In [9]:
patient_dimension

,surrogate_key,Row_ID,Age_Group,Client_Gender,Case_AcquisitionInfo,Outbreak_Related
418,0,419,80s,FEMALE,CC,NaN
419,1,420,<20,FEMALE,CC,NaN
421,2,422,20s,MALE,NO KNOWN EPI LINK,NaN
422,3,423,30s,FEMALE,CC,NaN
424,4,425,30s,FEMALE,CC,NaN
...,...,...,...,...,...,...
308800,110362,308801,20s,FEMALE,MISSING INFORMATION,NaN
308802,110363,308803,20s,MALE,CC,NaN
308806,110364,308807,40s,MALE,CC,NaN
308807,110365,308808,50s,FEMALE,NO KNOWN EPI LINK,NaN
308809,110366,308810,30s,FEMALE,CC,NaN

In [10]:
patient_dimension.to_csv("patient_dimension.csv",index=False)